@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: "Encode Sans", sans-serif;
    background-color: #f8f9fa;

}

.social-icons {
    display: flex;
    gap: 10px; /* Espaçamento entre os ícones */
    align-items: center;
}

.social-icons a {
    color: #333; /* Cor dos ícones */
    font-size: 24px; /* Tamanho dos ícones */
    text-decoration: none;
}

.social-icons a:hover {
    color: #656565; 
}


.top-gradient {
    width: 100%;
    height: 300px; /* Altura do gradiente #b1b0b339 #c9aeff39*/
    background: linear-gradient(180deg, #d4c0fa39, #ffd1d10f, #ffd1ff00);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Coloca o gradiente atrás do conteúdo */
}

.portfolio-img {
    width: 100%;
    position: relative;
    filter: grayscale(20%);

}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}
h1, h4 {
    color: #343a40;
}
.footer {
    padding: 20px;
    border-top: 1px,#555;
    text-align: center;
    background-color: #f6fbff14;
    color: rgba(21, 21, 21, 0.708);
    position: relative;
    bottom: 0;
    width: 100%;
}
.sidebar {
    padding: 10px;
}
.sidebar img {
    border-radius: 50%;
    width: 80%;
}
.card-title {
    margin-top: 15px;
    font-weight: bold;
}
.card-text {
    font-size: 14px;
    color: #555;
}
.card2 {
    border: 1px solid #fafafa;
    background-color: #f1f4f7d3;
    border-radius: 10px;
    text-align: center;
    margin: 15px 5px;
    flex: 1 1 calc(25% - 10px); /* Ajusta o tamanho das cartas em telas pequenas */
}
.card-icon {
    font-size: 40px;
    color: #28a745; /* Cor do ícone */
}
.skill-container {
    display: flex;
    flex-wrap: wrap; /* Permite que as cartas quebrem para a próxima linha em telas pequenas */
    justify-content: center;
}
.item {
    display: none; /* Oculta todos os itens inicialmente */
}

.page-item.active .page-link {
background-color: #28a745; /* Cor de fundo para a página ativa */
border-color: #28a745; /* Cor da borda para a página ativa */
}

.page-link {
color: rgb(0, 0, 0); /* Cor do texto dos links */
}

.page-link:hover {
background-color: #218838; /* Cor ao passar o mouse */
color: rgb(255, 255, 255); /* Cor do texto ao passar o mouse */
}

.container {
    padding-left:  0; 
    padding-right:  0;
    transform: scale(0.9);
    overflow-x: hidden;  
}

@media (max-width: 768px) {
    .container {
        padding-left:  5%; 
        padding-right:  5%; 
    }
    .card2 {
        flex: 1 1 calc(100% - 10px); /* Cartas ocupam toda a largura em telas pequenas */
    }
    .filter{
        display: none;
    }
}

